{
  "swagger" : "2.0",
  "info" : {
    "description" : "The Smooch API is a unified interface for powering messaging in your customer experiences across every channel. Our API speeds access to new markets, reduces time to ship, eliminates complexity, and helps you build the best experiences for your customers. For more information, visit our [official documentation](https://docs.smooch.io).",
    "version" : "5.28",
    "title" : "Smooch"
  },
  "host" : "api.smooch.io",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "security" : [ {
    "jwt" : [ ]
  }, {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/v1.1/apps/{appId}/appusers/{userId}" : {
      "get" : {
        "tags" : [ "AppUser" ],
        "description" : "Get the specified app user.",
        "operationId" : "getAppUser",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifies the user. Can be either the smoochId or the userId.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/AppUserResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "AppUser" ],
        "description" : "Update the specified app user.",
        "operationId" : "updateAppUser",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifies the user. Can be either the smoochId or the userId.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "appUserUpdateBody",
          "description" : "Body for an updateAppUser request.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AppUserUpdate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/AppUserResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AppUser" ],
        "description" : "Delete specified app user.",
        "operationId" : "deleteAppUser",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifies the user. Can be either the smoochId or the userId.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok"
          }
        }
      }
    },
    "/v1.1/apps/{appId}/appusers" : {
      "post" : {
        "tags" : [ "AppUser" ],
        "description" : "Pre-create an app user.",
        "operationId" : "preCreateAppUser",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "appUserPreCreateBody",
          "description" : "Body for a preCreateAppUser request.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AppUserPreCreate"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "schema" : {
              "$ref" : "#/definitions/AppUserResponse"
            }
          }
        }
      }
    },
    "/v1.1/apps/{appId}/appusers/merge" : {
      "post" : {
        "tags" : [ "AppUser" ],
        "description" : "Force the merge of two specific users, when the business has determined that they represent the same person.",
        "operationId" : "mergeUsers",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "appUserMergeBody",
          "description" : "Body for a mergeUsers request.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AppUserMerge"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok"
          }
        }
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/images" : {
      "post" : {
        "tags" : [ "AppUser" ],
        "description" : "Send an image message to the conversation.",
        "operationId" : "postImageMessage",
        "consumes" : [ "multipart/form-data" ],
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifies the user. Can be either the smoochId or the userId.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "source",
          "in" : "formData",
          "description" : "Image to be uploaded",
          "required" : true,
          "type" : "file"
        }, {
          "name" : "role",
          "in" : "formData",
          "description" : "Role of the sender",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "schema" : {
              "$ref" : "#/definitions/MessageResponse"
            }
          }
        }
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/profile" : {
      "delete" : {
        "tags" : [ "AppUser" ],
        "description" : "Delete specified app user's profile.",
        "operationId" : "deleteAppUserProfile",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifies the user. Can be either the smoochId or the userId.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/AppUserResponse"
            }
          }
        }
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/authcode" : {
      "get" : {
        "tags" : [ "AppUser" ],
        "description" : "Get an auth code for facilitating a channel transfer",
        "operationId" : "getAppUserAuthCode",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifies the user. Can be either the smoochId or the userId.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/AuthCodeResponse"
            }
          }
        }
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/channels" : {
      "get" : {
        "tags" : [ "AppUser" ],
        "description" : "Get specified app user's channel entity IDs.",
        "operationId" : "getAppUserEntityIds",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifies the user. Can be either the smoochId or the userId.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/AppUserChannelsResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "AppUser" ],
        "description" : "Link specified app user to given channel.",
        "operationId" : "linkAppUser",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifies the user. Can be either the smoochId or the userId.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "appUserLinkBody",
          "description" : "Body for a linkAppUser request.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AppUserLink"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/AppUserResponse"
            }
          }
        }
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/businesssystems" : {
      "get" : {
        "tags" : [ "AppUser" ],
        "description" : "Get specified app user's business system IDs.",
        "operationId" : "getAppUserBusinessSystemIds",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifies the user. Can be either the smoochId or the userId.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/AppUserBusinessSystemsResponse"
            }
          }
        }
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/channels/{channel}" : {
      "delete" : {
        "tags" : [ "AppUser" ],
        "description" : "Unlink specified app user from given channel.",
        "operationId" : "unlinkAppUser",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifies the user. Can be either the smoochId or the userId.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "channel",
          "in" : "path",
          "description" : "Name of the channel.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok"
          }
        }
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/linkrequest" : {
      "get" : {
        "tags" : [ "AppUser" ],
        "description" : "Fetch link requests for the specified app user.",
        "operationId" : "getLinkRequests",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifies the user. Can be either the smoochId or the userId.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "integrationIds",
          "in" : "query",
          "description" : "List of integration IDs",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "minItems" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/LinkRequestResponse"
            }
          }
        }
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/messages" : {
      "get" : {
        "tags" : [ "Conversation" ],
        "description" : "Get the specified app user's messages.",
        "operationId" : "getMessages",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifies the user. Can be either the smoochId or the userId.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "before",
          "in" : "query",
          "description" : "Timestamp of message. The API will return 100 messages before the specified timestamp (excluding any messages with the provided timestamp).",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "Timestamp of message. The API will return 100 messages after the specified timestamp (excluding any messages with the provided timestamp).",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/GetMessagesResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Conversation" ],
        "description" : "Post a message to or from the app user.",
        "operationId" : "postMessage",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifies the user. Can be either the smoochId or the userId.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "messagePostBody",
          "description" : "Body for a postMessage request.\nAdditional arguments are necessary based on message type ([text](https://docs.smooch.io/rest/#text), [image](https://docs.smooch.io/rest/#image), [carousel](https://docs.smooch.io/rest/#carousel), [list](https://docs.smooch.io/rest/#list), [form](https://docs.smooch.io/rest/#form))\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MessagePost"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "schema" : {
              "$ref" : "#/definitions/MessageResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Conversation" ],
        "description" : "Clears the message history for a user, permanently deleting all messages, but leaving any connections to Messaging Channels and Business Systems intact. These connections allow for the conversation to continue in the future, while still being associated to the same appUser.\n",
        "operationId" : "deleteMessages",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifies the user. Can be either the smoochId or the userId.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok"
          }
        }
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/messages/{messageId}" : {
      "delete" : {
        "tags" : [ "Conversation" ],
        "description" : "Deletes a single message.",
        "operationId" : "deleteMessage",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifies the user. Can be either the smoochId or the userId.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "messageId",
          "in" : "path",
          "description" : "Identifies the message.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok"
          }
        }
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/conversation/read" : {
      "post" : {
        "tags" : [ "Conversation" ],
        "description" : "Reset the unread count of the conversation to 0.",
        "operationId" : "resetUnreadCount",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifies the user. Can be either the smoochId or the userId.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok"
          }
        }
      }
    },
    "/v1.1/apps/{appId}/appusers/{userId}/conversation/activity" : {
      "post" : {
        "tags" : [ "Conversation" ],
        "description" : "Notify Smooch when an app maker starts or stops typing a response.",
        "operationId" : "conversationActivity",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifies the user. Can be either the smoochId or the userId.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "conversationActivityBody",
          "description" : "Body for a triggerConversationActivity request.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ConversationActivity"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ActivityResponse"
            }
          }
        }
      }
    },
    "/v1/apps/{appId}/notifications" : {
      "post" : {
        "tags" : [ "Notification" ],
        "description" : "Post a notification to an externalId.",
        "operationId" : "postNotification",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "notificationPostBody",
          "description" : "Body for a postNotification request.\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/NotificationPost"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "schema" : {
              "$ref" : "#/definitions/NotificationResponse"
            }
          }
        }
      }
    },
    "/v1.1/apps/{appId}/menu" : {
      "get" : {
        "tags" : [ "Menu" ],
        "description" : "Get the specified app’s menu.",
        "operationId" : "getMenu",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/MenuResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Menu" ],
        "description" : "Configure the specified app’s menu.",
        "operationId" : "updateMenu",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "menuUpdateBody",
          "description" : "Body for a updateMenu request.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Menu"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/MenuResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Menu" ],
        "description" : "Remove the specified app’s menu.",
        "operationId" : "deleteMenu",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/MenuResponse"
            }
          }
        }
      }
    },
    "/v1.1/serviceaccounts" : {
      "get" : {
        "tags" : [ "ServiceAccount" ],
        "description" : "List all service accounts configured.",
        "operationId" : "listServiceAccounts",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of records to return.",
          "required" : false,
          "type" : "integer",
          "default" : 25
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The number of initial records to skip before picking records to return.",
          "required" : false,
          "type" : "integer",
          "default" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ListServiceAccountsResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "ServiceAccount" ],
        "description" : "Create a new service account.",
        "operationId" : "createServiceAccount",
        "parameters" : [ {
          "in" : "body",
          "name" : "serviceAccountCreateBody",
          "description" : "Body for a createServiceAccount request.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ServiceAccountCreate"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "schema" : {
              "$ref" : "#/definitions/ServiceAccountResponse"
            }
          }
        }
      }
    },
    "/v1.1/serviceaccounts/{serviceAccountId}" : {
      "get" : {
        "tags" : [ "ServiceAccount" ],
        "description" : "Get the specified service account.",
        "operationId" : "getServiceAccount",
        "parameters" : [ {
          "name" : "serviceAccountId",
          "in" : "path",
          "description" : "Identifies the service account.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ServiceAccountResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "ServiceAccount" ],
        "description" : "Update the specified service account.",
        "operationId" : "updateServiceAccount",
        "parameters" : [ {
          "name" : "serviceAccountId",
          "in" : "path",
          "description" : "Identifies the service account.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "serviceAccountUpdateBody",
          "description" : "Body for an updateServiceAccount request.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ServiceAccountUpdate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ServiceAccountResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ServiceAccount" ],
        "description" : "Delete the specified service account.",
        "operationId" : "deleteServiceAccount",
        "parameters" : [ {
          "name" : "serviceAccountId",
          "in" : "path",
          "description" : "Identifies the service account.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok"
          }
        }
      }
    },
    "/v1.1/serviceaccounts/{serviceAccountId}/keys" : {
      "get" : {
        "tags" : [ "ServiceAccount" ],
        "description" : "List the secret keys for the specified service account.",
        "operationId" : "listSecretKeys",
        "parameters" : [ {
          "name" : "serviceAccountId",
          "in" : "path",
          "description" : "Identifies the service account.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ListSecretKeysResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "ServiceAccount" ],
        "description" : "Create a secret key for the specified service account.",
        "operationId" : "createSecretKey",
        "parameters" : [ {
          "name" : "serviceAccountId",
          "in" : "path",
          "description" : "Identifies the service account.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "secretKeyCreateBody",
          "description" : "Body for a createSecretKey request.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SecretKeyCreate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/SecretKeyResponse"
            }
          }
        }
      }
    },
    "/v1.1/serviceaccounts/{serviceAccountId}/keys/{keyId}" : {
      "get" : {
        "tags" : [ "ServiceAccount" ],
        "description" : "Get the specified service account secret key.",
        "operationId" : "getSecretKey",
        "parameters" : [ {
          "name" : "serviceAccountId",
          "in" : "path",
          "description" : "Identifies the service account.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "keyId",
          "in" : "path",
          "description" : "Identifies the secret key.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/SecretKeyResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "ServiceAccount" ],
        "description" : "Delete the specified service account secret key.",
        "operationId" : "deleteSecretKey",
        "parameters" : [ {
          "name" : "serviceAccountId",
          "in" : "path",
          "description" : "Identifies the service account.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "keyId",
          "in" : "path",
          "description" : "Identifies the secret key.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok"
          }
        }
      }
    },
    "/v1.1/serviceaccounts/{serviceAccountId}/keys/{keyId}/jwt" : {
      "get" : {
        "tags" : [ "ServiceAccount" ],
        "description" : "Get an account-scoped JWT for the specified service account secret key.",
        "operationId" : "getJwt",
        "parameters" : [ {
          "name" : "serviceAccountId",
          "in" : "path",
          "description" : "Identifies the service account.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "keyId",
          "in" : "path",
          "description" : "Identifies the secret key.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/JwtResponse"
            }
          }
        }
      }
    },
    "/v1.1/apps" : {
      "get" : {
        "tags" : [ "App" ],
        "description" : "List all apps configured.",
        "operationId" : "listApps",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of records to return.",
          "required" : false,
          "type" : "integer",
          "default" : 25
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The number of initial records to skip before picking records to return.",
          "required" : false,
          "type" : "integer",
          "default" : 0
        }, {
          "name" : "serviceAccountId",
          "in" : "query",
          "description" : "The service account ID for which to list apps.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ListAppsResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "App" ],
        "description" : "Create a new app.",
        "operationId" : "createApp",
        "parameters" : [ {
          "in" : "body",
          "name" : "appCreateBody",
          "description" : "Body for a createApp request.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AppCreate"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "schema" : {
              "$ref" : "#/definitions/AppResponse"
            }
          }
        }
      }
    },
    "/v1.1/apps/{appId}" : {
      "get" : {
        "tags" : [ "App" ],
        "description" : "Get the specified app.",
        "operationId" : "getApp",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/AppResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "App" ],
        "description" : "Update the specified app.",
        "operationId" : "updateApp",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "appUpdateBody",
          "description" : "Body for an updateApp request.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AppUpdate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/AppResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "App" ],
        "description" : "Delete the specified app.",
        "operationId" : "deleteApp",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok"
          }
        }
      }
    },
    "/v1.1/apps/{appId}/sdks" : {
      "get" : {
        "tags" : [ "App" ],
        "description" : "Retrieve the IDs of the three SDK integrations (`android`, `ios`, and `web`) for the specified app, to be used when initializing the SDKs.",
        "operationId" : "getSdkIds",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/GetSdkIdsResponse"
            }
          }
        }
      }
    },
    "/v1.1/apps/{appId}/keys" : {
      "get" : {
        "tags" : [ "App" ],
        "description" : "List the secret keys for the specified app.",
        "operationId" : "listSecretKeys",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ListSecretKeysResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "App" ],
        "description" : "Create a secret key for the specified app.",
        "operationId" : "createSecretKey",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "secretKeyCreateBody",
          "description" : "Body for a createSecretKey request.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SecretKeyCreate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/SecretKeyResponse"
            }
          }
        }
      }
    },
    "/v1.1/apps/{appId}/keys/{keyId}" : {
      "get" : {
        "tags" : [ "App" ],
        "description" : "Get the specified secret key.",
        "operationId" : "getSecretKey",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "keyId",
          "in" : "path",
          "description" : "Identifies the secret key.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/SecretKeyResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "App" ],
        "description" : "Delete the specified secret key.",
        "operationId" : "deleteSecretKey",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "keyId",
          "in" : "path",
          "description" : "Identifies the secret key.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok"
          }
        }
      }
    },
    "/v1.1/apps/{appId}/keys/{keyId}/jwt" : {
      "get" : {
        "tags" : [ "App" ],
        "description" : "Get an app-scoped JWT for the specified secret key.",
        "operationId" : "getAppJwt",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "keyId",
          "in" : "path",
          "description" : "Identifies the secret key.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/JwtResponse"
            }
          }
        }
      }
    },
    "/v1.1/apps/{appId}/integrations" : {
      "get" : {
        "tags" : [ "Integration" ],
        "description" : "List integrations for the specified app.",
        "operationId" : "listIntegrations",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "types",
          "in" : "query",
          "description" : "List of types to filter the query by.\nMore than one value can be specified through comma separation e.g. ?types=*twilio*,*line*.\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of records to return.",
          "required" : false,
          "type" : "integer",
          "default" : 25
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The number of initial records to skip before picking records to return.",
          "required" : false,
          "type" : "integer",
          "default" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ListIntegrationsResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Integration" ],
        "description" : "Create an integration for the specified app.",
        "operationId" : "createIntegration",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "integrationCreateBody",
          "description" : "Body for a createIntegration request.\nAdditional arguments are necessary based on integration type. For detailed instructions, visit our [official docs](https://docs.smooch.io/rest/#create-integration)\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/IntegrationCreate"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "schema" : {
              "$ref" : "#/definitions/IntegrationResponse"
            }
          }
        }
      }
    },
    "/v1.1/apps/{appId}/integrations/{integrationId}" : {
      "get" : {
        "tags" : [ "Integration" ],
        "description" : "Get the specified integration.",
        "operationId" : "getIntegration",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "integrationId",
          "in" : "path",
          "description" : "Identifies the integration.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/IntegrationResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Integration" ],
        "description" : "Update the specified integration.",
        "operationId" : "updateIntegration",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "integrationId",
          "in" : "path",
          "description" : "Identifies the integration.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "integrationUpdateBody",
          "description" : "Body for a updateIntegration request.\nAdditional arguments are necessary based on integration type. For detailed instructions, visit our [official docs](https://docs.smooch.io/rest/#update-integration)\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/IntegrationUpdate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/IntegrationResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Integration" ],
        "description" : "Delete the specified integration.",
        "operationId" : "deleteIntegration",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "integrationId",
          "in" : "path",
          "description" : "Identifies the integration.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok"
          }
        }
      }
    },
    "/v1.1/apps/{appId}/integrations/{integrationId}/menu" : {
      "get" : {
        "tags" : [ "Integration" ],
        "description" : "Get the specified integration's menu.",
        "operationId" : "getIntegrationMenu",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "integrationId",
          "in" : "path",
          "description" : "Identifies the integration.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/MenuResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Integration" ],
        "description" : "Create the specified integration’s menu, overriding the app menu if configured.",
        "operationId" : "createIntegrationMenu",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "integrationId",
          "in" : "path",
          "description" : "Identifies the integration.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "menuCreateBody",
          "description" : "Body for a createMenu request.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Menu"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "schema" : {
              "$ref" : "#/definitions/MenuResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Integration" ],
        "description" : "Update the specified integration’s menu.",
        "operationId" : "updateIntegrationMenu",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "integrationId",
          "in" : "path",
          "description" : "Identifies the integration.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "menuUpdateBody",
          "description" : "Body for a updateMenu request.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Menu"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/MenuResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Integration" ],
        "description" : "Delete the specified integration’s menu.",
        "operationId" : "deleteIntegrationMenu",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "integrationId",
          "in" : "path",
          "description" : "Identifies the integration.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok"
          }
        }
      }
    },
    "/v1.1/apps/{appId}/integrations/{integrationId}/profile" : {
      "get" : {
        "tags" : [ "Integration" ],
        "description" : "Get the specified integration’s profile.",
        "operationId" : "getIntegrationProfile",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "integrationId",
          "in" : "path",
          "description" : "Identifies the integration.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/GetIntegrationProfileResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Integration" ],
        "description" : "Update the specified integration’s profile.",
        "operationId" : "updateIntegrationProfile",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "integrationId",
          "in" : "path",
          "description" : "Identifies the integration.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "integrationProfileBody",
          "description" : "Body for a profileUpdate request.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/IntegrationProfileUpdate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok"
          }
        }
      }
    },
    "/v1.1/apps/{appId}/integrations/{integrationId}/profile/photo" : {
      "put" : {
        "tags" : [ "Integration" ],
        "description" : "Upload a photo to be used for the the specified integration’s profile.",
        "operationId" : "uploadIntegrationProfilePhoto",
        "consumes" : [ "multipart/form-data" ],
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "integrationId",
          "in" : "path",
          "description" : "Identifies the integration.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "source",
          "in" : "formData",
          "description" : "Photo to be uploaded",
          "required" : true,
          "type" : "file"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/UploadIntegrationProfilePhotoResponse"
            }
          }
        }
      }
    },
    "/v1.1/apps/{appId}/webhooks" : {
      "get" : {
        "tags" : [ "Webhook" ],
        "description" : "List webhooks for the specified app.",
        "operationId" : "listWebhooks",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ListWebhooksResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Webhook" ],
        "description" : "Create a webhook for the specified app.",
        "operationId" : "createWebhook",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "webhookCreateBody",
          "description" : "Body for a createWebhook request.\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WebhookCreate"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "schema" : {
              "$ref" : "#/definitions/WebhookResponse"
            }
          }
        }
      }
    },
    "/v1.1/apps/{appId}/webhooks/{webhookId}" : {
      "get" : {
        "tags" : [ "Webhook" ],
        "description" : "Get the specified webhook.",
        "operationId" : "getWebhook",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "webhookId",
          "in" : "path",
          "description" : "Identifies the webhook.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/WebhookResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Webhook" ],
        "description" : "Update the specified webhook.",
        "operationId" : "updateWebhook",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "webhookId",
          "in" : "path",
          "description" : "Identifies the webhook.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "webhookUpdateBody",
          "description" : "Body for an updateWebhook request.\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WebhookUpdate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/WebhookResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Webhook" ],
        "description" : "Delete the specified webhook.",
        "operationId" : "deleteWebhook",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "webhookId",
          "in" : "path",
          "description" : "Identifies the webhook.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok"
          }
        }
      }
    },
    "/v1.1/apps/{appId}/attachments" : {
      "post" : {
        "tags" : [ "Attachments" ],
        "description" : "Upload an attachment to Smooch to use in future messages.",
        "operationId" : "uploadAttachment",
        "consumes" : [ "multipart/form-data" ],
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "source",
          "in" : "formData",
          "description" : "File to be uploaded",
          "required" : true,
          "type" : "file"
        }, {
          "name" : "access",
          "in" : "query",
          "description" : "Access level for the resulting file",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "for",
          "in" : "query",
          "description" : "The intended container for the attachment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "appUserId",
          "in" : "query",
          "description" : "The appUserId of the user that will receive the attachment\nUsed in attachments for messages\n",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "The userId of the user that will receive the attachment\nUsed in attachments for messages\n",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "schema" : {
              "$ref" : "#/definitions/AttachmentResponse"
            }
          }
        }
      }
    },
    "/v1.1/apps/{appId}/attachments/remove" : {
      "post" : {
        "tags" : [ "Attachments" ],
        "description" : "Remove an attachment uploaded to Smooch.",
        "operationId" : "removeAttachment",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "attachmentRemoveBody",
          "description" : "Body for a removeAttachment request.\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AttachmentRemove"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok"
          }
        }
      }
    },
    "/v1.1/apps/{appId}/templates" : {
      "get" : {
        "tags" : [ "Template" ],
        "description" : "List templates for the specified app.",
        "operationId" : "listTemplates",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of records to return.",
          "required" : false,
          "type" : "integer",
          "default" : 25
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The number of initial records to skip before picking records to return.",
          "required" : false,
          "type" : "integer",
          "default" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ListTemplatesResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Template" ],
        "description" : "Create a template for the specified app.",
        "operationId" : "createTemplate",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "templateCreateBody",
          "description" : "Body for a createTemplate request.\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TemplateCreate"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "schema" : {
              "$ref" : "#/definitions/TemplateResponse"
            }
          }
        }
      }
    },
    "/v1.1/apps/{appId}/templates/{templateId}" : {
      "get" : {
        "tags" : [ "Template" ],
        "description" : "Get the specified template.",
        "operationId" : "getTemplate",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "templateId",
          "in" : "path",
          "description" : "Identifies the template.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/TemplateResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Template" ],
        "description" : "Update the specified template.",
        "operationId" : "updateTemplate",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "templateId",
          "in" : "path",
          "description" : "Identifies the template.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "templateUpdateBody",
          "description" : "Body for an updateTemplate request.\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TemplateUpdate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/TemplateResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Template" ],
        "description" : "Delete the specified template.",
        "operationId" : "deleteTemplate",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "Identifies the app.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "templateId",
          "in" : "path",
          "description" : "Identifies the template.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok"
          }
        }
      }
    },
    "/v1.1/whatsapp/deployments" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "description" : "List owned WhatsApp deployments.",
        "operationId" : "listDeployments",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ListDeploymentsResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Deployment" ],
        "description" : "Create a WhatsApp deployment.",
        "operationId" : "createDeployment",
        "parameters" : [ {
          "in" : "body",
          "name" : "deploymentCreateBody",
          "description" : "Body for a createDeployment request.\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeploymentCreate"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "schema" : {
              "$ref" : "#/definitions/DeploymentResponse"
            }
          }
        }
      }
    },
    "/v1.1/whatsapp/deployments/{deploymentId}" : {
      "get" : {
        "tags" : [ "Deployment" ],
        "description" : "Get the specified deployment.",
        "operationId" : "getDeployment",
        "parameters" : [ {
          "name" : "deploymentId",
          "in" : "path",
          "description" : "Identifies the deployment.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/DeploymentResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Deployment" ],
        "description" : "Delete the specified deployment.",
        "operationId" : "deleteDeployment",
        "parameters" : [ {
          "name" : "deploymentId",
          "in" : "path",
          "description" : "Identifies the deployment.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok"
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/DeploymentResponse"
            }
          }
        }
      }
    },
    "/v1.1/whatsapp/deployments/{deploymentId}/activate" : {
      "post" : {
        "tags" : [ "Deployment" ],
        "description" : "Activate a phone number on the specified deployment.",
        "operationId" : "activatePhoneNumber",
        "parameters" : [ {
          "name" : "deploymentId",
          "in" : "path",
          "description" : "Identifies the deployment.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "deploymentActivatePhoneNumberBody",
          "description" : "Body for an activatePhoneNumber request.\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeploymentActivatePhoneNumber"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/DeploymentResponse"
            }
          }
        }
      }
    },
    "/v1.1/whatsapp/deployments/{deploymentId}/code/confirm" : {
      "post" : {
        "tags" : [ "Deployment" ],
        "description" : "Confirm code to complete phone number activation.",
        "operationId" : "confirmCode",
        "parameters" : [ {
          "name" : "deploymentId",
          "in" : "path",
          "description" : "Identifies the deployment.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "deploymentConfirmCode",
          "description" : "Body for a confirmCode request.\n",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DeploymentConfirmCode"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/DeploymentResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "jwt" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    },
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "Enums" : {
      "type" : "object",
      "properties" : {
        "ActionSize" : {
          "type" : "string",
          "enum" : [ "compact", "full", "tall" ]
        },
        "ActionType" : {
          "type" : "string",
          "enum" : [ "buy", "link", "locationRequest", "postback", "reply", "share", "webview" ]
        },
        "BusinessSystemType" : {
          "type" : "string",
          "enum" : [ "helpscout", "slack", "zendesk" ]
        },
        "ClientStatus" : {
          "type" : "string",
          "enum" : [ "active", "blocked", "inactive", "pending" ]
        },
        "ConfirmationType" : {
          "type" : "string",
          "enum" : [ "immediate", "userActivity", "prompt" ]
        },
        "ConversationActivityType" : {
          "type" : "string",
          "enum" : [ "conversation:read", "typing:start", "typing:stop" ]
        },
        "DeploymentActivationMethod" : {
          "type" : "string",
          "enum" : [ "sms", "voice" ]
        },
        "DeploymentHosting" : {
          "type" : "string",
          "enum" : [ "self", "smooch" ]
        },
        "DeploymentStatus" : {
          "type" : "string",
          "enum" : [ "deleting", "error", "integrated", "pending", "registered", "starting", "unregistered" ]
        },
        "ImageAspectRatio" : {
          "type" : "string",
          "enum" : [ "horizontal", "square" ]
        },
        "IntegrationStatus" : {
          "type" : "string",
          "enum" : [ "active", "inactive", "error" ]
        },
        "IntegrationType" : {
          "type" : "string",
          "enum" : [ "android", "api", "apn", "fcm", "ios", "line", "mailgun", "messagebird", "messenger", "telegram", "twilio", "twitter", "viber", "web", "wechat", "whatsapp" ]
        },
        "MenuItemType" : {
          "type" : "string",
          "enum" : [ "link", "postback", "submenu" ]
        },
        "MessageItemSize" : {
          "type" : "string",
          "enum" : [ "compact", "large" ]
        },
        "MessageType" : {
          "type" : "string",
          "enum" : [ "carousel", "file", "image", "list", "location", "text", "form", "formResponse" ]
        },
        "FieldType" : {
          "type" : "string",
          "enum" : [ "text", "email", "select" ]
        },
        "QuotedMessageType" : {
          "type" : "string",
          "enum" : [ "message", "externalMessageId" ]
        },
        "Role" : {
          "type" : "string",
          "enum" : [ "appMaker", "appUser" ]
        },
        "WebhookTriggers" : {
          "type" : "string",
          "enum" : [ "appUser:delete", "client:add", "client:remove", "conversation:read", "conversation:referral", "conversation:start", "link:failure", "link:match", "link:success", "merge:appUser", "message:appMaker", "message:appUser", "message:delivery:channel", "message:delivery:failure", "message:delivery:user", "notification:delivery:channel", "notification:delivery:failure", "notification:delivery:user", "payment:success", "postback", "typing:appUser" ]
        }
      }
    },
    "AppUserResponse" : {
      "type" : "object",
      "required" : [ "appUser" ],
      "properties" : {
        "appUser" : {
          "description" : "The app user.",
          "$ref" : "#/definitions/AppUser"
        }
      }
    },
    "AppUser" : {
      "type" : "object",
      "required" : [ "_id", "conversationStarted", "properties" ],
      "properties" : {
        "_id" : {
          "type" : "string",
          "description" : "The app user's ID, generated automatically."
        },
        "userId" : {
          "type" : "string",
          "description" : "The app user's userId.\nThis ID is specified by the appMaker.\n"
        },
        "givenName" : {
          "type" : "string",
          "description" : "The app user's given name."
        },
        "surname" : {
          "type" : "string",
          "description" : "The app user's surname."
        },
        "email" : {
          "type" : "string",
          "description" : "The app user's email."
        },
        "signedUpAt" : {
          "type" : "string",
          "description" : "A datetime string with the format *yyyy-mm-ddThh:mm:ssZ* representing the moment an appUser was created."
        },
        "properties" : {
          "type" : "object",
          "description" : "Custom properties for the app user.",
          "properties" : { }
        },
        "conversationStarted" : {
          "type" : "boolean",
          "description" : "Flag indicating if the conversation has started for the app user."
        },
        "clients" : {
          "type" : "array",
          "description" : "List of clients associated with the app user.",
          "items" : {
            "$ref" : "#/definitions/Client"
          }
        },
        "pendingClients" : {
          "type" : "array",
          "description" : "As clients, but containing linked clients which have not been confirmed yet (i.e. Twilio SMS).",
          "items" : {
            "$ref" : "#/definitions/Client"
          }
        }
      }
    },
    "Client" : {
      "type" : "object",
      "required" : [ "id", "platform" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "An identifier for the client. Must be globally unique."
        },
        "status" : {
          "type" : "string",
          "description" : "The client status. Indicates if the client is able to receive messages or not. See [**ClientStatusEnum**](Enums.md#ClientStatusEnum) for available values."
        },
        "externalId" : {
          "type" : "string",
          "description" : "The ID of the user on an external channel. For example, the user's phone number for Twilio, or their page-scoped user ID for Facebook Messenger. Applies only to non-SDK clients."
        },
        "active" : {
          "type" : "boolean",
          "description" : "Deprecated - use the status property instead."
        },
        "lastSeen" : {
          "type" : "string",
          "format" : "dateTime",
          "description" : "The date time the client was last seen."
        },
        "platform" : {
          "type" : "string",
          "description" : "The client's platform. See [**IntegrationTypeEnum**](Enums.md#IntegrationTypeEnum) for available values."
        },
        "integrationId" : {
          "type" : "string",
          "description" : "The ID of the integration that the client was created for."
        },
        "pushNotificationToken" : {
          "type" : "string",
          "description" : "The GCM or APN token to be used for sending push notifications to the device.\nApplies to only *android* and *ios* clients.\n"
        },
        "appVersion" : {
          "type" : "string",
          "description" : "A reserved string field for reporting the app version running on the device."
        },
        "displayName" : {
          "type" : "string",
          "description" : "The client's display name."
        },
        "info" : {
          "$ref" : "#/definitions/ClientInfo"
        },
        "raw" : {
          "type" : "object",
          "description" : "An Object with raw properties that vary for each client platform. All keys are optional and not guaranteed to be available.",
          "properties" : { }
        }
      }
    },
    "ClientInfo" : {
      "type" : "object",
      "properties" : {
        "appName" : {
          "type" : "string",
          "description" : "Name of the app associated with the client."
        },
        "avatarUrl" : {
          "type" : "string",
          "description" : "The client's avatar URL."
        },
        "carrier" : {
          "type" : "string",
          "description" : "The client's carrier."
        },
        "city" : {
          "type" : "string",
          "description" : "The client's city."
        },
        "country" : {
          "type" : "string",
          "description" : "The client's country."
        },
        "deviceModel" : {
          "type" : "string",
          "description" : "The client's device model."
        },
        "devicePlatform" : {
          "type" : "string",
          "description" : "The client's device platform."
        },
        "gender" : {
          "type" : "string",
          "description" : "The client user's gender."
        },
        "isPaymentEnabled" : {
          "type" : "boolean",
          "description" : "Whether or not payment is enabled for client."
        },
        "locale" : {
          "type" : "string",
          "description" : "The client's locale."
        },
        "os" : {
          "type" : "string",
          "description" : "The client's OS."
        },
        "osVersion" : {
          "type" : "string",
          "description" : "The client's OS version."
        },
        "phoneNumber" : {
          "type" : "string",
          "description" : "The client's phone number."
        },
        "radioAccessTechnology" : {
          "type" : "string",
          "description" : "The client's radioAccessTechnology (Ex. HSDPA)."
        },
        "state" : {
          "type" : "string",
          "description" : "The client's state or province."
        },
        "timezone" : {
          "type" : "number",
          "format" : "double",
          "description" : "The client's timezone offset."
        },
        "wifi" : {
          "type" : "string",
          "description" : "Whether or not the client has wifi."
        }
      }
    },
    "AppUserUpdate" : {
      "type" : "object",
      "properties" : {
        "givenName" : {
          "type" : "string",
          "description" : "The app user's given name."
        },
        "surname" : {
          "type" : "string",
          "description" : "The app user's surname."
        },
        "email" : {
          "type" : "string",
          "description" : "The app user's email."
        },
        "signedUpAt" : {
          "type" : "string",
          "description" : "A datetime string with the format *yyyy-mm-ddThh:mm:ssZ* representing the moment an appUser was created."
        },
        "properties" : {
          "type" : "object",
          "description" : "Custom properties for the app user.",
          "properties" : { }
        }
      }
    },
    "AppUserPreCreate" : {
      "type" : "object",
      "required" : [ "userId" ],
      "properties" : {
        "userId" : {
          "type" : "string",
          "description" : "The app user's userId.\nThis ID is specified by the appMaker.\n"
        },
        "givenName" : {
          "type" : "string",
          "description" : "The app user's given name."
        },
        "surname" : {
          "type" : "string",
          "description" : "The app user's surname."
        },
        "email" : {
          "type" : "string",
          "description" : "The app user's email."
        },
        "signedUpAt" : {
          "type" : "string",
          "description" : "A datetime string with the format *yyyy-mm-ddThh:mm:ssZ* representing the moment an appUser was created."
        },
        "properties" : {
          "type" : "object",
          "description" : "Custom properties for the app user.",
          "properties" : { }
        }
      }
    },
    "AppUserMerge" : {
      "type" : "object",
      "required" : [ "discarded", "surviving" ],
      "properties" : {
        "surviving" : {
          "description" : "Nested object representing the user that will survive at the end of the merge",
          "$ref" : "#/definitions/MergedUser"
        },
        "discarded" : {
          "description" : "Nested object representing the user to merge into the surviving user. This user will be deleted as part of the process.",
          "$ref" : "#/definitions/MergedUser"
        }
      }
    },
    "MergedUser" : {
      "type" : "object",
      "properties" : {
        "_id" : {
          "type" : "string",
          "description" : "The `_id` of the user to merge."
        }
      }
    },
    "MessageResponse" : {
      "type" : "object",
      "required" : [ "conversation", "message" ],
      "properties" : {
        "message" : {
          "description" : "The message.",
          "$ref" : "#/definitions/Message"
        },
        "extraMessages" : {
          "type" : "array",
          "description" : "List of extra messages created.",
          "items" : {
            "$ref" : "#/definitions/Message"
          }
        },
        "conversation" : {
          "description" : "The conversation.",
          "$ref" : "#/definitions/Conversation"
        }
      }
    },
    "Message" : {
      "type" : "object",
      "required" : [ "_id", "authorId", "avatarUrl", "name", "received", "role", "text", "type" ],
      "properties" : {
        "_id" : {
          "type" : "string",
          "description" : "The message ID, generated automatically."
        },
        "authorId" : {
          "type" : "string",
          "description" : "The ID of the message's author."
        },
        "role" : {
          "type" : "string",
          "description" : "The role of the individual posting the message. See [**RoleEnum**](Enums.md#RoleEnum) for available values."
        },
        "type" : {
          "type" : "string",
          "description" : "The message type. See [**MessageTypeEnum**](Enums.md#MessageTypeEnum) for available values."
        },
        "source" : {
          "description" : "The source of the message.",
          "$ref" : "#/definitions/Source"
        },
        "name" : {
          "type" : "string",
          "description" : "The display name of the message author."
        },
        "text" : {
          "type" : "string",
          "description" : "The message text.\nRequired for text messages.\n"
        },
        "email" : {
          "type" : "string",
          "description" : "The email address of the message author."
        },
        "avatarUrl" : {
          "type" : "string",
          "description" : "The URL of the desired message avatar image."
        },
        "received" : {
          "type" : "number",
          "format" : "double",
          "description" : "The unix timestamp of the moment the message was received."
        },
        "mediaUrl" : {
          "type" : "string",
          "description" : "The mediaUrl for the message.\nRequired for image/file messages.\n"
        },
        "mediaType" : {
          "type" : "string",
          "description" : "The mediaType for the message.\nRequired for image/file messages.\n"
        },
        "metadata" : {
          "type" : "object",
          "description" : "Flat JSON object containing any custom properties associated with the message.",
          "properties" : { }
        },
        "items" : {
          "type" : "array",
          "description" : "The items in the message list.\nRequired for carousel and list messages.\n",
          "items" : {
            "$ref" : "#/definitions/MessageItem"
          }
        },
        "actions" : {
          "type" : "array",
          "description" : "The actions in the message.",
          "items" : {
            "$ref" : "#/definitions/Action"
          }
        },
        "payload" : {
          "type" : "string",
          "description" : "The payload of a reply action, if applicable."
        },
        "displaySettings" : {
          "description" : "Settings to adjust the carousel layout. See [Display Settings](https://docs.smooch.io/rest/#display-settings).",
          "$ref" : "#/definitions/DisplaySettings"
        },
        "blockChatInput" : {
          "type" : "boolean",
          "description" : "Indicates if the Web SDK chat input should be blocked. Defaults to false.\nOnly for form messages.\n"
        },
        "fields" : {
          "type" : "array",
          "description" : "The fields in the form.\nRequired for form and formResponse messages.\n",
          "items" : {
            "$ref" : "#/definitions/Field"
          }
        },
        "submitted" : {
          "type" : "boolean",
          "description" : "Indicates if the form was submitted. Generated automatically."
        },
        "quotedMessage" : {
          "description" : "The form message a formResponse message responds to.\nRequired for formResponse messages.\n",
          "$ref" : "#/definitions/QuotedMessage"
        },
        "textFallback" : {
          "type" : "string",
          "description" : "The text fallback displayed in channels that do not support form messages.\nOnly for formResponse messages. Generated automatically.\n"
        },
        "coordinates" : {
          "description" : "Data representing the location being sent in the message.",
          "$ref" : "#/definitions/Coordinates"
        },
        "location" : {
          "description" : "Additional information about the location being sent in the message.",
          "$ref" : "#/definitions/Location"
        }
      }
    },
    "Source" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "An identifier used by Smooch for internal purposes."
        },
        "type" : {
          "type" : "string",
          "description" : "An identifier for the channel from which a message originated. See [**IntegrationTypeEnum**](Enums.md#IntegrationTypeEnum) for available values."
        },
        "originalMessageId" : {
          "type" : "string",
          "description" : "Message identifier assigned by the originating channel."
        },
        "originalMessageTimestamp" : {
          "type" : "number",
          "format" : "double",
          "description" : "Message timestamp assigned by the originating channel."
        }
      }
    },
    "MessageItem" : {
      "required" : [ "actions", "title" ],
      "properties" : {
        "title" : {
          "type" : "string",
          "description" : "The title of the message item."
        },
        "description" : {
          "type" : "string",
          "description" : "The text description, or subtitle."
        },
        "mediaUrl" : {
          "type" : "string",
          "description" : "The image URL to be shown in the carousel/list item."
        },
        "size" : {
          "type" : "string",
          "description" : "The size of the image to be shown in the carousel/list item.\nOnly top item of Facebook Messenger carousel supported. See [**MessageItemSizeEnum**](Enums.md#MessageItemSizeEnum) for available values.\n"
        },
        "mediaType" : {
          "type" : "string",
          "description" : "If a *mediaUrl* was specified, the media type is defined here, for example *image/jpeg*."
        },
        "actions" : {
          "type" : "array",
          "description" : "Array of [action buttons](https://docs.smooch.io/rest/#action-buttons). At least 1 is required, a maximum of 3 are allowed.",
          "items" : {
            "$ref" : "#/definitions/Action"
          }
        }
      }
    },
    "Action" : {
      "required" : [ "text", "type" ],
      "properties" : {
        "type" : {
          "type" : "string",
          "description" : "The action type. See [**ActionTypeEnum**](Enums.md#ActionTypeEnum) for available values."
        },
        "text" : {
          "type" : "string",
          "description" : "The button text."
        },
        "payload" : {
          "type" : "string",
          "description" : "The payload to be sent with the resulting webhook.\nRequired for *postback* and *reply* actions.\n"
        },
        "metadata" : {
          "type" : "object",
          "description" : "Flat JSON object containing any custom properties associated with the action.",
          "properties" : { }
        },
        "amount" : {
          "type" : "integer",
          "description" : "The amount being charged. It needs to be specified in cents and is an integer.\nRequired for *buy* actions.\n"
        },
        "currency" : {
          "type" : "string",
          "description" : "The currency of the amount being charged (USD, CAD, etc.)."
        },
        "default" : {
          "type" : "boolean",
          "description" : "Flag indicating if the message action is the default for a message item in Facebook Messenger."
        },
        "iconUrl" : {
          "type" : "string",
          "description" : "An icon to render next to the reply option (Facebook Messenger and Web Messenger only)."
        },
        "uri" : {
          "type" : "string",
          "description" : "The action URI. This is the link that will be used in the clients when clicking the button.\nRequired for *link* and *webview* actions.\n"
        },
        "fallback" : {
          "type" : "string",
          "description" : "The webview action fallback uri. This is the link that will be used in clients that do not support webviews.\nRequired for *webview* actions.\n"
        },
        "size" : {
          "type" : "string",
          "description" : "The size used to display the webview. Allowed values are [\"compact\", \"tall\", \"full\"].\n(Optional) Used for *webview* actions. See [**ActionSizeEnum**](Enums.md#ActionSizeEnum) for available values.\n"
        },
        "extraChannelOptions" : {
          "type" : "object",
          "description" : "Extra options to pass directly to the channel API. See [Extra Channel Options](https://docs.smooch.io/rest#extra-channel-options-schema)",
          "properties" : { }
        },
        "openOnReceive" : {
          "type" : "boolean",
          "description" : "Flag indicating if the webview should open automatically. Only one action per message can be set to true. Currently only supported on the Web Messenger."
        }
      }
    },
    "DisplaySettings" : {
      "type" : "object",
      "properties" : {
        "imageAspectRatio" : {
          "type" : "string",
          "description" : "Specifies how to display all carousel images. See [**ImageAspectRatioEnum**](Enums.md#ImageAspectRatioEnum) for available values."
        }
      }
    },
    "Field" : {
      "type" : "object",
      "required" : [ "label", "name", "type" ],
      "properties" : {
        "_id" : {
          "type" : "string",
          "description" : "The field ID, generated automatically."
        },
        "type" : {
          "type" : "string",
          "description" : "The field type. See [**FieldTypeEnum**](Enums.md#FieldTypeEnum) for available values."
        },
        "name" : {
          "type" : "string",
          "description" : "The name of the field. Each field name must be unique per form."
        },
        "label" : {
          "type" : "string",
          "description" : "The label to be displayed with the field."
        },
        "placeholder" : {
          "type" : "string",
          "description" : "The placeholder text of the field that will be rendered.\nOnly for form messages\n"
        },
        "minSize" : {
          "type" : "integer",
          "description" : "The minimum possible length of the response. Defaults to 1 if not specified.\nOnly for text fields in form messages.\n"
        },
        "maxSize" : {
          "type" : "integer",
          "description" : "The maximum possible length of the response. Defaults to 128 if not specified.\nOnly for text fields in form messages.\n"
        },
        "options" : {
          "type" : "array",
          "description" : "The field options that can be selected. The array is limited to 20 options.\nOnly for select fields in form messages.\n",
          "items" : {
            "$ref" : "#/definitions/Option"
          }
        },
        "selectSize" : {
          "type" : "integer",
          "description" : "The select size, generated automatically.\nOnly for select fields in form messages.\n"
        },
        "text" : {
          "type" : "string",
          "description" : "The text response to a text field.\nRequired for text fields in form response messages.\n"
        },
        "email" : {
          "type" : "string",
          "description" : "The email response to an email field.\nRequired for email fields in form response messages.\n"
        },
        "select" : {
          "type" : "array",
          "description" : "The options selected as a response to a select field.\nRequired for select fields in form response messages.\n",
          "items" : {
            "$ref" : "#/definitions/Select"
          }
        }
      }
    },
    "Option" : {
      "type" : "object",
      "required" : [ "label", "name" ],
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "The name of the option. It must be unique per field."
        },
        "label" : {
          "type" : "string",
          "description" : "The label the option will be displayed with on Web Messenger."
        }
      }
    },
    "Select" : {
      "type" : "object",
      "required" : [ "label", "name" ],
      "properties" : {
        "_id" : {
          "type" : "string",
          "description" : "The select ID, generated automatically."
        },
        "name" : {
          "type" : "string",
          "description" : "The name of the selected option."
        },
        "label" : {
          "type" : "string",
          "description" : "The label of the selected option."
        }
      }
    },
    "QuotedMessage" : {
      "type" : "object",
      "required" : [ "type" ],
      "properties" : {
        "type" : {
          "type" : "string",
          "description" : "The quoted message type. See [**QuotedMessageTypeEnum**](Enums.md#QuotedMessageTypeEnum) for available values."
        },
        "externalMessageId" : {
          "type" : "string",
          "description" : "The external message Id of the quoted message.\nOnly for quoted messages with type set to externalMessageId.\n"
        },
        "content" : {
          "$ref" : "#/definitions/Message"
        }
      }
    },
    "Coordinates" : {
      "type" : "object",
      "required" : [ "lat", "long" ],
      "properties" : {
        "lat" : {
          "type" : "number",
          "format" : "double",
          "description" : "A floating point value representing the latitude of the location."
        },
        "long" : {
          "type" : "number",
          "format" : "double",
          "description" : "A floating point value representing the longitude of the location."
        }
      }
    },
    "Location" : {
      "type" : "object",
      "properties" : {
        "address" : {
          "type" : "string",
          "description" : "The location's street address."
        },
        "name" : {
          "type" : "string",
          "description" : "A name for the location."
        }
      }
    },
    "Conversation" : {
      "type" : "object",
      "required" : [ "_id", "unreadCount" ],
      "properties" : {
        "_id" : {
          "type" : "string",
          "description" : "The conversation ID, generated automatically."
        },
        "unreadCount" : {
          "type" : "integer",
          "description" : "The number of unread messages in the conversation."
        }
      }
    },
    "AuthCodeResponse" : {
      "type" : "object",
      "required" : [ "authCode" ],
      "properties" : {
        "authCode" : {
          "type" : "string",
          "description" : "The auth code"
        }
      }
    },
    "AppUserChannelsResponse" : {
      "type" : "object",
      "required" : [ "channels" ],
      "properties" : {
        "channels" : {
          "type" : "array",
          "description" : "An array of objects containing the channel type and the entity id.",
          "items" : {
            "$ref" : "#/definitions/ChannelEntityItem"
          }
        }
      }
    },
    "ChannelEntityItem" : {
      "type" : "object",
      "required" : [ "type" ],
      "properties" : {
        "type" : {
          "type" : "string",
          "description" : "The type of channel. See [**IntegrationTypeEnum**](Enums.md#IntegrationTypeEnum) for available values."
        },
        "integrationId" : {
          "type" : "string",
          "description" : "The ID of the integration."
        },
        "phoneNumber" : {
          "type" : "string",
          "description" : "The phone number for a *twilio* or *messagebird* integration"
        },
        "userId" : {
          "type" : "string",
          "description" : "The userId for a *messenger*, *viber*, *line*, *wechat* or *twitter* integration"
        },
        "address" : {
          "type" : "string",
          "description" : "The email address for a *mailgun* integration"
        },
        "username" : {
          "type" : "string",
          "description" : "The username for a *whatsapp* integration"
        },
        "chatId" : {
          "type" : "string",
          "description" : "The chat id for a *telegram* integration"
        }
      }
    },
    "AppUserLink" : {
      "type" : "object",
      "required" : [ "confirmation", "type" ],
      "properties" : {
        "type" : {
          "type" : "string",
          "description" : "The type of the channel to link. See [**IntegrationTypeEnum**](Enums.md#IntegrationTypeEnum) for available values."
        },
        "integrationId" : {
          "type" : "string",
          "description" : "The id of the integration to link, it must match the provided type."
        },
        "phoneNumber" : {
          "type" : "string",
          "description" : "A String of the appUser’s phone number. It must contain the + prefix and the country code.\nRequired for *messenger*, *twilio*, *messagebird* and *whatsapp* linking.\n"
        },
        "address" : {
          "type" : "string",
          "description" : "A String of the appUser’s email address.\nRequired for *mailgun* linking.\n"
        },
        "givenName" : {
          "type" : "string",
          "description" : "A String of the appUser’s given name. Used as additional criteria to increase the likelihood of a match.\n(Optional) Used for *messenger* linking.\n"
        },
        "surname" : {
          "type" : "string",
          "description" : "A String of the appUser’s surname. Used as additional criteria to increase the likelihood of a match.\n(Optional) Used for *messenger* linking.\n"
        },
        "subject" : {
          "type" : "string",
          "description" : "Subject for the outgoing email.\n(Optional) Used for *mailgun* linking.\n"
        },
        "confirmation" : {
          "description" : "Allows you to specify the strategy used to initiate a link with the target user.",
          "$ref" : "#/definitions/Confirmation"
        }
      }
    },
    "Confirmation" : {
      "type" : "object",
      "required" : [ "type" ],
      "properties" : {
        "type" : {
          "type" : "string",
          "description" : "The confirmation type. See [**ConfirmationTypeEnum**](Enums.md#ConfirmationTypeEnum) for available values."
        },
        "message" : {
          "description" : "The message used to reach out to the user. Must be a valid message object as per the post message API.",
          "$ref" : "#/definitions/Message"
        }
      }
    },
    "AppUserBusinessSystemsResponse" : {
      "type" : "object",
      "required" : [ "businessSystems" ],
      "properties" : {
        "businessSystems" : {
          "type" : "array",
          "description" : "An array of objects containing the business system type and the id.",
          "items" : {
            "$ref" : "#/definitions/BusinessSystemItem"
          }
        }
      }
    },
    "BusinessSystemItem" : {
      "type" : "object",
      "required" : [ "type" ],
      "properties" : {
        "type" : {
          "type" : "string",
          "description" : "The type of business system. See [**BusinessSystemTypeEnum**](Enums.md#BusinessSystemTypeEnum) for available values."
        },
        "channelId" : {
          "type" : "string",
          "description" : "The channel id for a *slack* integration"
        },
        "ticketId" : {
          "type" : "string",
          "description" : "The ticket id for a *zendesk* integration"
        },
        "roomId" : {
          "type" : "integer",
          "description" : "The room id for a *hipchat* integration"
        },
        "conversationId" : {
          "type" : "string",
          "description" : "The conversation id for a *helpscout* integration"
        }
      }
    },
    "LinkRequestResponse" : {
      "type" : "object",
      "properties" : {
        "linkRequests" : {
          "type" : "array",
          "description" : "The list of link requests.",
          "items" : {
            "$ref" : "#/definitions/LinkRequestResponse_linkRequests"
          }
        }
      }
    },
    "GetMessagesResponse" : {
      "type" : "object",
      "properties" : {
        "conversation" : {
          "description" : "The conversation.",
          "$ref" : "#/definitions/Conversation"
        },
        "messages" : {
          "type" : "array",
          "description" : "The messages.",
          "items" : {
            "$ref" : "#/definitions/Message"
          }
        },
        "next" : {
          "type" : "string",
          "description" : "The URI for the next set of messages in the conversation."
        }
      }
    },
    "MessagePost" : {
      "type" : "object",
      "required" : [ "role", "type" ],
      "properties" : {
        "role" : {
          "type" : "string",
          "description" : "The role of the individual posting the message. See [**RoleEnum**](Enums.md#RoleEnum) for available values."
        },
        "type" : {
          "type" : "string",
          "description" : "The message type. See [**MessageTypeEnum**](Enums.md#MessageTypeEnum) for available values."
        },
        "name" : {
          "type" : "string",
          "description" : "The display name of the message author."
        },
        "email" : {
          "type" : "string",
          "description" : "The email address of the message author."
        },
        "avatarUrl" : {
          "type" : "string",
          "description" : "The URL of the desired message avatar image."
        },
        "metadata" : {
          "type" : "object",
          "description" : "Flat JSON object containing any custom properties associated with the message.",
          "properties" : { }
        },
        "payload" : {
          "type" : "string",
          "description" : "The payload of a reply action, if applicable."
        },
        "text" : {
          "type" : "string",
          "description" : "The message text.\nRequired for text messages.\n"
        },
        "mediaUrl" : {
          "type" : "string",
          "description" : "The mediaUrl for the message.\nRequired for image/file messages.\n"
        },
        "mediaType" : {
          "type" : "string",
          "description" : "The mediaType for the message.\nRequired for image/file messages.\n"
        },
        "items" : {
          "type" : "array",
          "description" : "The items in the message list.\nRequired for carousel and list messages.\n",
          "items" : {
            "$ref" : "#/definitions/MessageItem"
          }
        },
        "actions" : {
          "type" : "array",
          "description" : "The actions in the message.",
          "items" : {
            "$ref" : "#/definitions/Action"
          }
        },
        "blockChatInput" : {
          "type" : "boolean",
          "description" : "Indicates if the Web SDK chat input should be blocked. Defaults to false.\nOnly for form messages.\n"
        },
        "displaySettings" : {
          "description" : "Settings to adjust the carousel layout. See [Display Settings](https://docs.smooch.io/rest/#display-settings).",
          "$ref" : "#/definitions/DisplaySettings"
        },
        "fields" : {
          "type" : "array",
[...]
